:root {
  --dark-color: #06080d;
  --white-color: #ffffff;
  --grey-color: #575e6c;
  --blue-color: #004ecc;
  --green-color: #1b5e20;
  --red-color: #b71c1c;
}

::selection {
  color: var(--white-color);
  background: var(--dark-color);
}

/* Font */
@font-face {
  font-family: "Marianne";
  src: url("src/font/Marianne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("src/font/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}

/* Utilitie */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

/* Content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Marianne", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--white-color);
  color: var(--dark-color);
  padding: 50px;
}

main {
  width: 500px;
  gap: 100px;
}

/* Button */
button {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  transition: all 0.3s;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}

#agree-button {
  background: var(--green-color);
}

#neutral-button {
  background: var(--grey-color);
}

#disagree-button {
  background: var(--red-color);
}

button:hover {
  transform: scale(1.03);
}

/* Button Link */
.button-link {
  width: fit-content;
  color: var(--blue-color);
  cursor: pointer;
  text-decoration: none;
  border-bottom: transparent solid 1px;
}

.button-link img {
  height: 10px;
}

.button-link:hover {
  border-bottom: var(--blue-color) solid 1px;
}
